body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }






  .button-style{
    font-size: 1.6rem;
    width: 16%;

  }

  .pointer{
    cursor: pointer;
  }

  .home-posts{
    overflow-y: scroll;
    max-height: 90vh;
  }

  ::-webkit-scrollbar{
    display: none;
  }